<footer>
	<div class="container">
		<div class="row contact-info2">
			<div class="col-sm-3 text-left">
				<h3>Téléphone:</h3>
				<p><i class="fa fa-phone"></i><a href="tel:{{ site.data.company.phone1 }}">{{ site.data.company.phone1
						}}</a></p>
			</div>
			<div class="col-sm-9 text-left">
				<h3>Adresse:</h3>
				<p><i class="fa fa-map-o"></i>{{ site.data.company.address }} {{ site.data.company.zipCode }} {{
					site.data.company.city }}</p>
			</div>
		</div>
		<div class="separator"></div>
		<div class="row">
			<div class="col-sm-6 col-md-4 text-left">
				<h2>Desembouage 77</h2>
				<p>SPC vous propose son service Désembouage 77 comme solution rapide et efficace au problème d’embouage
					dans la Seine-et-Marne. Nous intervenons aussi bien chez les particuliers que chez les
					professionnels, et ce, dans les plus courts délais.</p>
				<br>
			</div>
			<div class="col-sm-6 col-md-4 text-left">
				<h2>Liens utiles</h2>
				<ul class="list2">
					<li><a href="{{ site.baseurl }}/">Accueil</a> </li>
					<li><a href="{{ site.baseurl }}/desembouage-seine-et-marne">Désembouage Seine-et-Marne</a></li>
					<li><a href="{{ site.baseurl }}/desembouage-maison-77">Désembouage maison 77</a></li>
					<li><a href="{{ site.baseurl }}/tarifs">Nos tarifs</a></li>
					<li><a href="{{ site.baseurl }}/entreprise">Notre entreprise</a></li>
					<li><a href="{{ site.baseurl }}/avis">Avis</a></li>
					<li><a href="{{ site.baseurl }}/devis">Devis en ligne</a></li>
					<li><a href="{{ site.baseurl }}/contact">Contact</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-md-4 text-left">
				<h2>Votre désembouage en Essonne</h2>
				<p>N'hésitez pas à nous contacter par mail.</p>
				<p>Mail: <a href="mailto:{{ site.data.company.email }}">{{ site.data.company.email }}</a></p>
				<br>
				<ul class="social">
					<li><a href="{{ site.data.company.facebook }}" target="_blank"><span
								class="fa fa-facebook fa-fw"></span></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<div class="text-center" id="bhinternet">
	<a href="https://www.bhinternet.fr/" target="_blank">BHInternet - Création site internet | 2025 | </a>
	<a href="{{ site.baseurl }}/mentions-legales">Mentions légales</a>
</div>