<header>
    {% include menu1.html %}
</header>
{% if page.url == "/" %}
<div class="bandeau wow fadeIn" data-wow-duration="1s" data-wow-delay="0">
    <!-- Slogan -->
    <div class="slogan">
        <h1 class="slogan-title wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.2s">Que diriez-vous d’obtenir
            votre devis gratuit ?<br>grâce à <span>desembouage 77</span></h1>
        <p class="wow fadeInDown" data-wow-duration="2s" data-wow-delay="2s">Votre entreprise SPC se tient à votre
            disposition pour toutes informations complémentaires</p>
    </div>
    <!-- bouton cta -->
    <div class="slider-cta wow fadeInUp" data-wow-duration="2s" data-wow-delay="2.3s">
        <h2>Dépannage rapide pour<br><strong>toutes vos urgences</strong></h2>
        <p>Contactez-nous au <a href="tel:{{ site.data.company.phone1 }}">{{ site.data.company.phone1 }}</a></p>
    </div>
</div>
{% endif %}
<div class="backTotop">
    <a href="#backTotop">
        <i class="fa fa-angle-up"></i>
    </a>
</div>
<div class="phone-fix">
    <i class="fa fa-angle-double-right"></i>
    <a href="tel:{{ site.data.company.phone2 }}">{{ site.data.company.phone2 }}</a>
</div>