<div class="menu2-wrapper">
    <div id="menu2">
       <div class="container-fluid">
         <div class="row flex-middle">
          <div class="col-md-2 text-center">
             <a href="{{ site.baseurl }}/">
               <div id='logo'>
                 <img src="{{ site.baseurl }}/assets/img/logo.png" class="img-responsive" alt='logo'>
               </div>
             </a>
           </div>
           <div class="col-md-8">
               {% include navbar.html %}
           </div>
           <div class="col-md-2 text-center hidden-xs hidden-sm">
             <a href="{{ site.baseurl }}/devis" class="button1 cta">
               <span class='txt'>Devis gratuit</span>
             </a>
           </div>
         </div>
       </div>
    </div>
  </div>