<form method="post" id="contactForm" action="{{ site.data.company.url.notify }}">
  <input type="hidden" name="redirectUrl" value="{{site.data.company.url.redirect}}" />
  <input type="hidden" name="type" value="contact" />
  <input type="hidden" name="website" value="{{ site.data.company.website }}" />
  <input type="hidden" name="lang" value="{{ site.data.company.lang }}" />
  <input type="hidden" name="condition" value="on" />
  <input type="hidden" name="key" value="{{ site.data.company.recaptcha.server }}">
    <div class=" col-sm-12 ">
        <div class="row pad1">
          <div class="col-sm-3 nopadleft">
            <div class="form-group has-feedback">
              <input type="text" class="form-control " id="name" name="name"
                placeholder="Nom" required>
            </div>
          </div>

            <div class="col-sm-3">
              <div class="form-group has-feedback">
      
              <input type="text" class="form-control " id="email" name="email"
                placeholder="Mail" required>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group has-feedback">
              <input type="text" class="form-control " id="telephone" name="telephone"
                 placeholder="Téléphone">
              </div>
            </div>
      
      
            <div class="col-sm-3">
              <div class="form-group has-feedback">
              <select class="form-control" id="prestation" name="prestation" required>
                <option value="Prestations">Prestations</option>
                <option value="Transport Assis Professionnalisé">Transport Assis Professionnalisé</option>
                <option value="Transfert Médicaux">Transfert Médicaux</option>
                <option value="Transport sanitaires">Transport sanitaires</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12" >
        <div class="form-group" style="display: flex; justify-content: center;">
          <div class="g-recaptcha" data-sitekey="{{ site.data.company.recaptcha.client }}">
          </div>
          <br />
          <div id="contact-form-response" class="text-white" style="color: #000 !important; font-size: 1rem;">
          </div>
        </div>
      </div>

      <div class="col-sm-12 text-center">
        <button type='submit' name="devis" class='button'><span>Envoyer</span> </button>
      </div>
</form>