<form action="https://formspree.io/f/xgvknvjq" method="POST">
    <div class="row pre-reservation">
        <div class="col-sm-12 form-title1">
            <h2>Devis gratuit</h2>
        </div>
        <div class="col-sm-12 clabel">
            <div class=" padl form-group has-feedback">
                <input type="text" name="nom" class="form-control" placeholder="Nom" required>
            </div>
        </div>
        <div class="col-sm-12 clabel">
            <div class=" padl form-group has-feedback">
                <input type="email" name="email" class="form-control" placeholder="Email" required>
            </div>
        </div>
        <div class="col-sm-12 clabel">
            <div class="form-group has-feedback">
                <input type="tel" name="telephone" class="form-control" placeholder="Tél" required>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group has-feedback">
                <select name="subject" class="form-control" id="subject">
                    <option value="Prestation:">Prestation:</option>
                    <option value="Désembouage de radiateurs">Désembouage de radiateurs</option>
                    <option value="Désembouage de plancher chauffant">Désembouage de plancher chauffant</option>
                </select>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <button type='submit' name="devis" class="button2 btn-form">
                <span class='txt'>Envoyer</span>
            </button>
        </div>
    </div>
</form>