<form id="devisForm" method="post" action="{{ site.data.company.url.notify }}">
    <input type="hidden" name="lang" value="fr" />
    <input type="hidden" name="redirectUrl" value="{{site.data.company.url.redirect}}" />
    <input type="hidden" name="type" value="devis" />
    <input type="hidden" name="website" value="{{ site.data.company.website }}" />
    <input type="hidden" name="lang" value="{{ site.data.company.lang }}" />
    <input type="hidden" name="firstName" value="" />
    <input type="hidden" name="condition" value="on" />
    <input type="hidden" name="key" value="{{ site.data.company.recaptcha.server }}" />
    <div class="row pre-reservation">
        <div class="col-sm-12 form-title1">
            <h2>Devis gratuit</h2>
        </div>
        <div class="col-sm-12 clabel">
            <div class=" padl form-group has-feedback">
                <input type="text" name="name" class="form-control" placeholder="Nom" required>
            </div>
        </div>
        <div class="col-sm-12 clabel">
            <div class=" padl form-group has-feedback">
                <input type="email" name="email" class="form-control" placeholder="Email" required>
            </div>
        </div>
        <div class="col-sm-12 clabel">
            <div class="form-group has-feedback">
                <input type="tel" name="telephone" class="form-control" placeholder="Tél" required>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group has-feedback">
                <select name="subject" class="form-control" id="subject">
                    <option value="Prestation:">Prestation:</option>
                    <option value="Désembouage de radiateurs">Désembouage de radiateurs</option>
                    <option value="Désembouage de plancher chauffant">Désembouage de plancher chauffant</option>
                </select>
            </div>
        </div>

        <div class="" style="display: flex; justify-content: center; padding: 5px;">
            <div id="devis-form-response"></div>
            <div class="form-group d-flex justify-content-center">
                <div class="g-recaptcha" data-sitekey="{{ site.data.company.recaptcha.client}}">
                </div>
                <br />
                <input style="display: none" type="submit" value="Submit" class="wpcf7-wpcf7-submit" />
            </div>
        </div>

        <div class="col-sm-12 text-center">
            <button type='submit' name="devis" class="button2 btn-form">
                <span class='txt'>Envoyer</span>
            </button>
        </div>
    </div>
</form>