<form method="post" id="contactForm" action="{{ site.data.company.url.notify }}">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group has-feedback">
        <input type="text" class="form-control " id="lastname" name="lastname" placeholder="Nom">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group has-feedback">
        <input type="text" class="form-control " id="email" name="email" placeholder="E-mail">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group has-feedback">
        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Téléphone">
      </div>
    </div>
    <div class='col-sm-12'>
      <div class="form-group has-feedback">
        <textarea rows="6" name="message" class="form-control" id="message" placeholder='Message'></textarea>
      </div>
    </div>
  </div>
  <div class="div01"></div>
  <div class="row ">
    <div class="col-xs-12 text-center">
      <button type='submit' name="precontact" class="button1">
        <span class='txt'>Envoyer</span>
      </button>
    </div>
  </div>
  </div>